.remark-slide-content {
  background-image: url('images/index.jpeg');
}

.toc em, .toc strong, strong {
  color: rgb(0, 136, 192);
}

.block {
  border: 0.15em solid rgba(0, 136, 192, 0.3);
  background: rgba(0, 136, 255, 0.2);
}

.alert {
  border: 0.15em solid rgba(192, 0, 136, 0.3);
  background: rgba(192, 0, 136, 0.2);
}

th, td {
  border: 0.15em solid rgba(0, 136, 192, 1.0);
}

th {
  background: rgba(0, 136, 192, 1.0);
  color: rgb(255, 255, 255);
  text-shadow:  1px  1px 2px rgba(0, 0, 0, 0.7);
}

hr {
  background-image: linear-gradient(to right, rgba(0, 136, 192, 0.5), rgba(0, 136, 192, 1), rgba(0, 136, 192, 0.5));
}

h1 > code.remark-inline-code {
  color: rgba(210, 210, 255, 1.0);
}

a {
  text-decoration: none;
  color: #4040B0;
}

a:visited {
  color: #4040B0;
}


